<ion-content [fullscreen]="true">
  

  <div class="content-wrapper">

    <ion-card class="profile-card">
      <img alt="Foto Pedro" src="assets/MinhaFoto01.jpeg" />

      <ion-card-header>
        <ion-card-title>Pedro Henrique Souza Marques</ion-card-title>
        <ion-card-subtitle>ADS0301M - BONSUCESSO - MANHÃ</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>
          Olá, sou Pedro Henrique, estudante de Análise e Desenvolvimento de Sistemas, com foco no desenvolvimento de
          soluções web e mobile. Este projeto foi desenvolvido para apresentar minhas habilidades, evolução e
          dedicação na
          área de tecnologia.
        </p>
      </ion-card-content>
    </ion-card>



  </div>
  
</ion-content>
