<ion-content  class="ion-padding" [fullscreen]="true">
  <div class="container-botoes">
    <ion-button class="botao-abrir" (click)="abrirLista()">

      ABRIR LISTA

    </ion-button>

    <ion-button class="botao-fechar" (click)="fecharLista()">

      FECHAR LISTA

    </ion-button>
  </div>
  @if(listaAberta){

  @for(produto of produtos; track produto.id){

  <ion-card>

    <img [src]="produto.image">

    <ion-card-header>

      <ion-card-title>
        {{ produto.title }}
      </ion-card-title>

      <ion-card-subtitle>
        ID: {{ produto.id }}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <p>
        {{ produto.description }}
      </p>

      <h2 class="preco">
        R$ {{ produto.price }}
      </h2>

    </ion-card-content>

  </ion-card>

  }

  }

</ion-content>